@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-custom {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  }

  .clip-custom2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 69%);
  }
  .clip-custom3 {
    clip-path: polygon(47% 0, 100% 0%, 55% 100%, 0% 100%);
  }
  .border-test {
    border: 1px solid green;
  }
}
